

/* Home Page 
---------------------- */
.home-bg {
  background-image:  linear-gradient(rgb(105, 121, 144, 0.4), rgb(105, 121, 144, 0.3)), url("./assets/bg/homeBg.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

}